<div id="<%= dom_id contact %>" class-"jumbotron">
  <h1 class="display-4">
    <%= contact.first_name %>
    <%= contact.last_name %>
  </hi>
  <p class="lead">
    <%= contact.email %> |
    <%= contact.Phone_number %> |
    <%= contact.linkedin %>
  </p>
</div>
